@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-color: #f8d36d;
}




.custom-shape-divider-bottom-1732561970 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: 0;
}

.custom-shape-divider-bottom-1732561970 svg {
    position: relative;
  display: block;
  width: calc(200% + 1.5px);
  height: 600px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1732561970 .shape-fill {
  fill: var(--main-color);
}
